@page "/resources"

@using ProjectManagementSystem.Data.Resources
@inject ResourceService ResourceService

@code {
    private List<Resource> resources;
    bool resourceList;
    bool createResource;
    bool resourceDetails;

    protected override async Task OnInitializedAsync()
    {
        resources = await ResourceService.GetResourcesAsync();
        resourceList = true;
        resourceDetails = false;
        createResource = false;
    }

    private void ClickEdit(Guid Id)
    {
        resourceList = false;
        resourceDetails = true;
        createResource = false;
    }

    private void ClickCreate()
    {
        resourceList = false;
        resourceDetails = false;
        createResource = true;
    }

    private void ClickDelete(Guid Id)
    {
        resources.RemoveAll(x => x.Id == Id);
    }

    private void ClickBack()
    {
        resourceList = true;
        resourceDetails = false;
        createResource = false;
    }
}

@if (resources == null)
{
    <p><em>Loading...</em></p>
}
else if (resourceList)
{
    <h1>Resource List Page</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Resource Name</th>
                <th>Resource Title</th>
                <th>Assigned Task</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resource in resources)
            {
                <tr>
                    <td>@resource.Name</td>
                    <td>@resource.Title</td>
                    <td>@resource.AssignedTaskId</td>
                    <td><button @onclick="@(e => ClickEdit(resource.Id))">Edit</button></td>
                    <td><button @onclick="@(e => ClickDelete(resource.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button @onclick="ClickCreate">Create</button>
    </div>
}
else if (createResource)
{
    <h1>Create Resource</h1>
    <button @onclick="ClickBack">Back</button>
}
else if (resourceDetails)
{
    <h1>Resource Details</h1>
    <button @onclick="ClickBack">Back</button>
}
