@page "/deliverables/{Id:guid}"
@page "/deliverables/create"
@using ProjectManagementSystem.Features.Deliverables.Models
@using ProjectManagementSystem.Features.Tasks
@using ProjectManagementSystem.Features.Requirements
@using ProjectManagementSystem.Data
@using ProjectManagementSystem.Features.Shared
@using Blazorise.Components
@inject DeliverableService DeliverableService
@inject TaskService TaskService
@inject RequirementService RequirementService
@inject NavigationManager navigation
@inject ApplicationDbContext db


@code {
    //These are all global. Should not be the case
    [Parameter]
    public Guid Id { get; set; }    //this is the Id that comes in when a deliverable is selected

    Deliverable deliverableModel = new Deliverable(); //Use for new delivs.
    List<Tasks.Task> tasks = new List<Tasks.Task>();    //Associated Tasks
    List<Tasks.Task> tempTasks = new List<Tasks.Task>();    //Unassociated Tasks
    List<Requirements.Requirement> requirements = new List<Requirements.Requirement>(); //Associated
    List<Requirements.Requirement> tempRequirements = new List<Requirements.Requirement>(); //Unassociated

    Guid requirementId;
    Guid taskId;

    bool success;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        //If Id is not empty, we know this is edit and we want to get the details
        if (Id != Guid.Empty)
        {
            deliverableModel = await DeliverableService.GetDeliverableById(Id); //Global Model becomes the requested deliv
            tasks = await TaskService.GetTaskByDeliverableId(Id);
            requirements = RequirementService.GetRequirementByDeliverableId(Id);
        }
        //If Guid is empty, then you need to create a new deliverable class
        tempTasks = await TaskService.GetUnassociatedTasksAsync();
        tempRequirements = RequirementService.GetUnassociatedRequirementsDataAsync();
        //Create temp lists to give user options to select for multi select features
        CreateTempTaskList();
        

        //Problems
        //New Deliv with Task doesnt work.
    }

    private void CreateTempTaskList()
    {
        //Make sure associated tasks don't appear in the unassociated list.
        //foreach (var task in tasks)
        //{
        //    tempTasks.Remove(task);

        //}



        ////Make sure unassociated list does not have tasks associated to other deliverables
        //foreach(var task in tempTasks)
        //{
        //    if (task.Id != Guid.Empty)
        //        tempTasks.Remove(task);
        //}
    }

    private void CreateTempRequirementList()
    {
        foreach (var requirement in requirements)
        {
            tempRequirements.Remove(requirement);
        }

        //foreach (var requirement in tempRequirements)
        //{
        //    if (requirement.Id != Guid.Empty)
        //        tempRequirements.Remove(requirement);
        //}
    }

    private void Save()
    {
        int entriesSaved = 0;
        // If the name is empty, we cannot save because it is required
        if (string.IsNullOrEmpty(deliverableModel.Name))
        {
            return;
        }
        else if (Id != Guid.Empty)
        {
            // Save edited changes
            entriesSaved = db.SaveChanges();
        }
        else
        {
            // Save new changes
            entriesSaved = DeliverableService.SaveDeliverable(deliverableModel);
        }

        if (entriesSaved > 0)
        {
            success = true;
        }
    }

    private void OnAddTaskClick()
    {
        if (taskId == Guid.Empty)
            return;
        //Clicking "Add Task" without selecting a task does nothing
        //Need to add selected task to the ListOfTasks
        var selectedTask = tempTasks.Find(x => x.Id == taskId);
        selectedTask.DeliverableId = deliverableModel.Id;
        tasks.Add(selectedTask);

        ////Remove from the temp list the task I just added
        tempTasks.Remove(selectedTask);

        taskId = Guid.Empty;
    }

    private void OnRemoveTaskClick()
    {
        foreach (var task in tasks)
        {
            tempTasks.Add(task);
            task.DeliverableId = null;
        }
        tasks.Clear();
    }

    private void OnAddRequirementClick()
    {
        if (requirementId == Guid.Empty)
            return;
        var selectedRequirement = tempRequirements.Find(x => x.Id == requirementId);
        selectedRequirement.DeliverableId = deliverableModel.Id;
        requirements.Add(selectedRequirement);
        tempRequirements.Remove(selectedRequirement);

        requirementId = Guid.Empty;
    }

    private void OnRemoveRequirementClick()
    {
        foreach (var requirement in requirements)
        {
            tempRequirements.Add(requirement);
            requirement.DeliverableId = null;
        }
        requirements.Clear();
    }

    private void ValidateNameExists(ValidatorEventArgs n)
    {
        var name = Convert.ToString(n.Value);

        n.Status = string.IsNullOrEmpty(name) ? ValidationStatus.None : ValidationStatus.Success;
    }

    private void ClickBack()
    {
        navigation.NavigateTo("/deliverables");
    }
}

<div class="container-fluid">
    @if (Id != Guid.Empty)
    {
        <h1>@deliverableModel.Name</h1> //I want to display the deliverable name here
        //<TextEdit Disabled="true" Plaintext="true" Size="Size.Large" @bind-Text="@deliverableModel.Deliverable.Name"></TextEdit>
        //<Divider Type="DividerType.TextContent" @bind-Text="deliverableModel.Deliverable.Name"></Divider>
    }
    else
    {
        <h1>Create Deliverable</h1>
    }

<div class="list-table">
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Name</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is10">
            <Validation Validator="@ValidateNameExists">
                <TextEdit @bind-Text="@deliverableModel.Name">
                    <Feedback>
                        <ValidationNone>Name is required</ValidationNone>
                    </Feedback>
                </TextEdit>
            </Validation>
        </FieldBody>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Description</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is10">
            <TextEdit @bind-Text="@deliverableModel.Description" />
        </FieldBody>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Due Date</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is10">
            <DateEdit TValue="DateTime?" @bind-Text="@deliverableModel.DueDate" />
        </FieldBody>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Tasks</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is3">
            <Select TValue="Guid" @bind-SelectedValue="@taskId">
                @if (taskId == Guid.Empty)
                {
                    <SelectItem Value="@taskId">Select...</SelectItem>
                }
                @foreach (var task in tempTasks)
                {
                    <SelectItem Value="task.Id">@task.Name</SelectItem>
                }
            </Select>
        </FieldBody>
        <Button Color="Color.Primary" Clicked="OnAddTaskClick">Add</Button>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Task Associations</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is3">
            <Select Multiple="true" TValue="Guid" @bind-SelectedValue="@taskId">
                @foreach (var task in tasks)
                {
                    //Need to populate Task Associations
                    //taskId = task.Id;
                    //I need to use taskId for selections
                    <SelectItem Value="task.Id">@task.Name</SelectItem>
                }
            </Select>
            <div style="padding-top:5px;">
                <Button Color="Color.Danger" Clicked="OnRemoveTaskClick">Remove All</Button>
            </div>
        </FieldBody>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Requirements</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is3">
            <Select TValue="Guid" @bind-SelectedValue="@requirementId">
                @if (requirementId == Guid.Empty)
                {
                    <SelectItem Value="@requirementId">Select...</SelectItem>
                }
                @foreach (var requirement in tempRequirements)
                {
                    <SelectItem Value="requirement.Id">@requirement.Name</SelectItem>
                }
            </Select>
        </FieldBody>
        <Button Color="Color.Primary" Clicked="OnAddRequirementClick">Add</Button>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Requirement Associations</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is3">
            <Select Multiple="true" TValue="Guid" @bind-SelectedValue="@taskId">
                @foreach (var requirement in requirements)
                {

                    <SelectItem Value="requirement.Id">@requirement.Name</SelectItem>
                }
            </Select>
            <div style="padding-top:5px;">
                <Button Color="Color.Danger" Clicked="OnRemoveRequirementClick">Remove All</Button>
            </div>
        </FieldBody>
    </Field>
</div>
    <div style="padding-top:1em; padding-bottom:2em;">
        <Button class="back-button" Color="Color.Dark" @onclick="ClickBack">Back</Button>
        @if (!success)
        {
            <Button class="save-button" Color="Color.Dark" @onclick="Save">Save</Button>
        }
        else
        {
            <Button class="save-button" Color="Color.Dark" @onclick="Save">Save Successful</Button>
        }
    </div>
</div>